/* interface*/

section#capa{background: url(imgs/capa.jpg);
background-size: 100% 100%;
height: 600px;
}


div#parteum{background-color: #e8e8ff;
margin-top: 0px;
border-left: 2.9vw #26464b solid;}

div#partedois{background-color: #ffebe7e8;}

div.fit{padding: 0px 10px 10px 10px;
background-color: #e8e8ff; }

div#dife{background-color: #e8e8ff;
padding: 0px 0px 20px 0px;}

footer{ background-color: #1f2c3d;}

div#memeud{ padding: 0px 0px 0px 50px;}

section#flex{display: inline-flex;
width:100%;
height: 100%;}





/* menu */


header#cabeca{background-color: #C0585850;
position: fixed;
width: 100%;
top:0;}

nav a{text-decoration:none;
color: #ffffff;
transition: color 1s;}

nav a:hover{color: #b9b9ff;}



ul{list-style: none;
float: right;}

nav li{display: inline-block;
background-color: #111526;
margin-left: 10px;
margin-right: 15px;
padding: 9px;
transition: background-color 1s;}

nav li:hover{ background-color: #2600b4;}



/*texto*/


h1#projeto{text-align: center;
font-size: 50px;
letter-spacing: 0px;}

h2#pq{text-align: center;}

p.pum{padding: 5px;
text-align: justify;
font-size: 20px; }

p.pdois{text-align: justify;
font-size: 20px;}

p.partet{text-align: justify;
font-size: 20px;}



h1#cap { text-align: center;
top: 0;
font-size: 80px;
font-family: cursive;}

h3#capt { text-align: center;
font-size: 60px;
font-family: cursive;
padding-bottom: 160px;}

h2#capd { text-align: center;
font-size: 40px;
border: 5px solid #b65100;
margin: 0px 370px 0px 370px;
border-radius: 17px;
font-weight: bold;
color: #5d99ff;
text-shadow: #000000 2px 2px;}

h2#ayuda{text-align: center;
font-size: 30px;}

h2#dif{ text-align: center;
font-size: 30px;}

a#onu{ text-decoration: none;}

/* Links */



/* imagens*/

nav img{width:58px;}

img#meme{height: 400px;
				margin-top: 0px;}
				
				img#eu{width: 180px;
				margin-top: 20px;
				display: flex;
		         }
				
				img#pageum{ width: 50%;}
				
				img#memed{width: 400px;
				height: 410px;}

img#memet {width: 400px;}
img#memeq {width: 400px;
height: 300px;}
